<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Hotbag Application Framework</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> @HotBagConfiguration.Configurations.ApplicationSettings.ApplicationVersion
    </div>
</footer>