@{
    ViewData["Title"] = "Home Page";
}
@using HotBag.AspNetCore.AppSettings;

<style>
    body{
        height: 100%;
        width : 100%;
        overflow : hidden;
    }

    img.app-logo-c {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<!--   Big container   -->
<div class="container">
    <div class="row">
    <div class="col-2"></div>
        <div class="col-8 "> 
            <!--      Wizard container        -->
            <div class="wizard-container">

                <!--You can switch " data-color="orange" "  
                    with one of the next bright
                    colors: "blue", "green", "orange", "red", "azure"  -->
                <div class="card wizard-card" data-color="green" id="wizardProfile">
                    <div class="wizard-header text-center">
                        <h3 class="wizard-title">@HotBagConfiguration.Configurations.ApplicationSettings.ApplicationName</h3>
                        <p class="category">Version :- @HotBagConfiguration.Configurations.ApplicationSettings.ApplicationVersion</p>
                    </div> 

                    <div class="row center">
                        <div class="btn-group btn-group-toggle">
                            <label class="btn btn-secondary">
                                <a href="/Admin"  target="_blank">Go To Admin Page</a>
                            </label>
                            <label class="btn btn-secondary">
                                <a href="/swagger"  target="_blank">Api Documents</a> 
                            </label>
                            <label class="btn btn-secondary">
                                <a href="/">Refresh Page</a> 
                            </label>
                        </div>
                    </div>

                    <div class="row"> 
                        <img class="app-logo-c" src="~/img/app-logo.png" />
                    </div>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div><!-- end row -->
</div>
<!--  big container -->
